

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid  #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child() {
    background-color: #dddddd;
  } */
  </style>
  </head>
  <div ng-if="vm.message" class="alert alert-success" role="alert">
    <h4>{{vm.message}}</h4>
  </div>
  <div ng-if="vm.err" class="alert alert-danger" role="alert">
    <h4>{{vm.err}}</h4>
  </div>
  <form name="vm.carFormOfSearch" ng-submit="vm.searchcar()">
    <div class="input-group">
      <p><input type="search" class="form-control rounded" placeholder="Search" ng-model = "vm.searchcarName" aria-label="Search"
        aria-describedby="search-addon" /><br/>
      <button type="submit" class="btn btn-primary">search</button></p>
    </div>
    </form>
  

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name of the Car</th>
      <th scope="col">Details</th>
      <th scope="col" ng-if="vm.isLoggedIn()">Delete Car</th>
     </tr>
  </thead>
  <tbody>
    <tr ng-repeat =" car in vm.cars">
      <td><a href="#!/car/{{car._id}}">{{car.model}}</td>
      <td><a href="#!/car/{{car._id}}">Details</a></td>
       <td ng-if="vm.isLoggedIn()"><button type="button" ng-click="vm.deletecar(car._id,$index,car.title)" >Delete car</button></td>

     </tr>
  
  </tbody>
</table>
<!-- <button type="button" formaction="Car-add.html">Add a new Car!</button> -->
 <button onclick=a href="#!/updateCar/{{car._id}}""></button>







 <div ng-if="vm.isLoggedIn()">


<form name="vm.carForm" ng-submit="vm.addCar()">
  To add a new Car please fill in all the field below : <br/>
  year <input type="number" name="year" required ng-model = "vm.newCarYear" style="color: black;"> <br/>
  make: <input type="text" name="make" required ng-model = "vm.newCarMake" style="color: black;"> <br/>
  model : <input type="text" name="model" required ng-model = "vm.newCarModel" style="color: black;"> <br/>
  MadeIn : <input type="text" name="MadeIn" required ng-model = "vm.newCarMadeIn" style="color: black;"> <br/>
  transmission: <input type="text" name="transmission" required ng-model = "vm.newCartransmission" style="color: black;"></br>
                    
  <button type="submit" class="btn-success">Add Car</button> <br/>
</form>

</div>